
.footer .footer-container {
    background: #f04b25;
    padding: 2em;
    color: #fff;
    border-radius: .8em;
}
.footer-container a {
    color: #fff;

}
.footer-top {
    /* background: blue; */
    margin-bottom: 2em;
    display: flex;
    gap: 1em;
    border-bottom: 1px solid #fff;
    padding-bottom: 2em;
}
.footer-top-logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.2em;
    margin-right: 5em;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer-contact p {
    display: flex;
    align-items: center;
    gap: 1em;
}
.footer-social {
    display: flex;
    align-items: center;
    gap: 3em;
 
}
.footer-social i {
    transition: .4s;
    cursor: pointer;
}
.footer-social i:hover {
    opacity: 1;
}
.footer-top-links {
    width: 15em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.footer-top-links h3{
font-weight:700;
font-size:1.125em;
line-height: 1em;
}
.footer-top-links a{
font-weight:400;
font-size:0.9em;
line-height: 1em;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-terms {
    display: flex;
    gap: 1em;
    align-items: center;
}

@media (max-width:1027px) {
    .footer-top {
        flex-wrap: wrap;
    }
    .footer-top-logo{
        flex: unset;
        width: 100%;
    }
    .footer-top-links {
        width: calc((100% - 1em) / 2);
    }
    .footer-bottom {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    
    .footer-top-links {
        width: 100%;
    }
}