:root {
    --orange-color:#F04B25;
    --yellow-color:#F5A805;
    --dark-color:#000;
    --yellow-color-25:#F4A90540;
    --primary-color:#12376B;
    --secondary-color:#F5F5F5;
    --blue-color:#286CD5;
    --gray-color:#616161;
    --gray-color-Details:#909090;
    --gray-color-card-text:#686868;
    --card-image-layer:#F04B2526;
    --white-color:#fff;
    --bink-color:#F04B2540;
    --blueopener-color:#286CD540;
    --lightbeige-color:#F4A90540;
    --lightgray-color:#12376B40;
    --gray-color-Diploma:#D7D7D7;
    --gray-color-Diploma-content:#686868;
     --gray-color-Diploma2:#EAEAEA;
     --grean-color:#00B912;
     
}