@font-face {
    font-family: "Arabic-ui";
    src: url(./assets/fonts/arabic-ui.otf);
}
html{
overflow-x: hidden;

}

/*hero-banner start  */
 .hero-banner-content-active h2{
width:11em;
font-size: 2.9em;
font-weight: 700;

 }
 .hero-banner-content-active p{
width:32em;
font-size: 1.1em;
font-weight: 400;

 }
 /*hero-banner end  */
 .box-container{
    margin-top: -7em;



 }

 .box-item-1{
    width: 33em;
    height: 30em;
    background-color: var(--yellow-color);
  padding-inline: 2.9em;
  padding-block: 3.8em;
  border-radius: 0.3em;
  color: var( --white-color);
 }
 .active-box-color{
background-color: var(--blue-color);


 }


 .box-item-1 h5{

    width: 9.25em;
   font-weight: 700;
   font-size: 2.9em;
 }
 .box-item-1 .active-text-box{
    width:19em;
   font-weight: 600;
   font-size: 1.6em;
 }
 .box-item-1 .active-text-box-{
    width:25em;
   font-weight: 400;
   font-size: 1.1em;
 }
.box-container{
display: flex;
gap:1.1em ;
}
 /* banner-video start */
 .image-bannar-video video{
    margin-top: 1.43em;
    width: 67.2em;
    height: 37.8em;

 }
 /* banner-video start  */

/* اغرس، أسِس، احصد  */
 .hero-banner-content-active-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.8em;
    margin-top: 2.9em;
 }
 .hero-banner-content-active-2 p{
width: 27.5em;
 }
 /* end */